:root {
    --sm: 12px;
    --nm: 1.15rem;
    --med: 2.15rem;
    --lrg: 3.25em;
    --purple: hsl(266, 45%, 50%);
    --muted: hsl(266, 25%, 60%);
    --gray: hsl(0, 0%, 53%);
    --dark: hsl(0, 0%, 30%);
}
html {
    background-color: hsl(0, 0%, 77%);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    overflow: hidden;
}
.wrapper {
    width: 80vw;
    height: 425px;
    background-color: white;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 5px;
    border-radius: 1rem;
    border: 3px solid hsl(266, 45%, 50%);
    box-shadow: 0 0 10px 5px hsl(266, 25%, 60%, .25);
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height:275px;
    width: 100%;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1 {
    text-align: center;
    color: var(--dark) !important;
    margin-top: 25px;
}
.result {
    padding: 0 25px;
    color: var(--purple);
    font-size: var(--lrg);
    font-weight: 600;
    text-wrap: balance;
    text-align: center;
    display: flex;
    align-content: center;
}
.msg {
    font-size: var(--nm);
    background-color: lightgray;
    color: var(--dark);
    padding: 5px 10px;
    border-radius: 3px;
    margin-top:10px;
    
    
}
.specific {
    font-size: var(--med);
    font-weight: 600;
    text-wrap: balance;
    text-align: center;
    color: var(--muted);
    margin-top: 25px;
}
.button{
    margin-block: 5px;
    background-color: var(--purple);
    font-size: var(--nm);
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 15px 25px;

}
.footer {
    font-size: var(--sm);
    text-align: center;
    margin-bottom: 15px;
    color: var(--gray);
    position: absolute;
    bottom: -5px;
}
.footer a {
    color: var(--gray);
    text-decoration: none;
}
.none {
    display: none;
}
.hide {
    visibility: hidden;
}
.start {
    /* position: absolute;
    top: 20px !important; */
    margin-top: 150px;
}

@media (max-width: 450px) {
    .wrapper {
        width: 90%;
    }
    .result {
        font-size: 2.75rem;
    }
    .specific {
        font-size: 1.75rem;
    }
    .start {
        margin-top: 125px;
    }
}